/* body{
    background-color: var(--roxoClaro);
}
.containerCabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.cabecalhoEsquerdo{
    display: flex;
    align-items: center;
}
.cabecalhoDireito{
    display: flex;
    align-items: center;
}
h1{
   color: var(--roxoPrimario);
   padding: 10px;
}
.imgCabecalho{
    width: 100px;
    height: 100px;
}
.imgUsuario{
    width: 60px;
}
h3{
    color: var(--roxoPrimario);
}
.container{
    background-color: var(--cinzaClaro);
    border-radius: 15px;
}
.navegar{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: var(--roxoPrimario);
    border-radius: 15px;
    margin: 10px;
}

li{
    display: flex;
    font-size: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 15px;
    
}
img {
    width: 50px;
    margin-right: 15px;
}
li:hover{
    background-color: var(--roxoEscuro);
    cursor: pointer;
}
#cursos{
    cursor: not-allowed;
} */